/** Detalls de cada festival **/
.detail-main-page {
    width: 100%;
    height: 84.3vh;
    display: flex;
    justify-content: center;
    padding: 5rem;
}
.detail-main-article {
    position: relative;
    display: flex;
    width: 70%;
    height: auto;
    background: #161616;
    border-radius: 1rem;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    overflow: hidden; 
}
.detail-main-article {
    border: #161616 0.2rem solid;
    box-shadow: #161616 0rem 0rem 1rem;
    transition: all 1s;
}
.detail-main-article:hover {
    box-shadow: #161616 0rem 0rem 2rem 1rem;
    transform: translateY(-5rem);
    transform: translateX(-5px);
    transition: all 1s;
}
.detail-main-article img {
    aspect-ratio: 1 / 1;
    width: 50%;
    height: auto;
    object-fit: cover;
    object-position: top;
}
.detail-festival-info {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0.5rem;
    color: white;
}
.detail-festival-info h2{
    color: white;
    font-size: 2rem;
}
.detail-festival-info p{
    color: #ebebeb;
    font-size: 0.8rem;
    font-style: italic;
}
.detail-festival-info p + p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #ebebeb;
    font-size: 1rem;
    font-style: normal;
    text-align: justify;
}
.detail-festival-info p + p + p{
    margin: 0.2rem;
    color: #ebebeb;
    font-size: 1rem;
    font-style: normal;
    text-align: justify;
}
.detail-festival-info p + p + p + p + p + p{
    margin-top: 0.8rem;
    color: #ebebeb;
    font-size: 1rem;
    font-style: normal;
    text-align: justify;
}
.detail-festival-info span{
    font-weight: bolder;
}
.detail-festival-info ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0.2rem;
    gap: 0.5rem;
    list-style: none;
    margin-bottom: 6rem;
}
.detail-festival-info ul li{
    color: #b9b9b9;
    border: #b9b9b9 1px solid;
    border-radius: 0.5rem;
    padding: 0.2rem;
    font-style: italic;
}
.detail-festival-info p a {
    position: relative;
    font-style: normal;
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    border: #ebebeb 1px solid;
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.4rem;
    transition: all 1s;
}
.detail-festival-info p a:hover {
    transition: all 0.3s;
    box-shadow: white 0rem 0rem 0.2rem 0.1rem;
}
