/* Configuració página sencera */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
*::-webkit-scrollbar {
  scrollbar-width: thin;
}
body{
    background-color: #161616;
}

/* Configuració header */
header{
    position: sticky;
    z-index: 1000;
    top: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #0a0a0a;
    padding: 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
header nav ul li{
    padding: 0.6rem;
    margin-left: 0.5rem;
    display: inline-block;
    list-style-type: none;
    border-radius: 0.4rem;
    transition: background-color 0.3s;
    transition: box-shadow 0.3s;
}
header nav ul li a{
    text-decoration: none;
    color: white;
}
header nav ul li:hover{
    box-shadow: #234297 0px 0px 0.3rem;
    background-color: #234297;
}
header nav ul li + li:hover{
    box-shadow: #842397 0px 0px 0.3rem;
    background-color: #842397;
}
header nav ul li + li + li:hover{
    box-shadow: #974823 0px 0px 0.3rem;
    background-color: #974823;
}
header nav ul li + li + li + li:hover{
    box-shadow: #23974a 0px 0px 0.3rem;
    border:#23974a 1px solid;
    background-color: #23974a;
}
header nav ul li + li + li + li{
    border: white 1px solid;
}
h1 a{
    color: #ffffff;
    text-align: left;
    text-decoration: none;
    margin-left: 0.4rem;
}
h1 a span{
    background: linear-gradient(90deg,#ff2ba6 10%, #20e3ff 35%, #b6ff3b 100%);
    color: transparent;
    background-clip: text;
}

/* Event principal */
.principal-event{
    background: linear-gradient(0deg,rgb(85, 117, 119) 0%, rgba(0, 0, 0, 1) 100%);
    display: flex;
    padding: 2rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 94vh;
}

.principal-event h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 3rem;
}
.principal-event h2 span{
    background: linear-gradient(90deg,#ff2ba6 10%, #20e3ff 35%, #b6ff3b 100%);
    color: transparent;
    background-clip: text;
}
.principal-event-text{
    text-align: center;
    color: white;
    padding: 3rem;
    margin: 1rem;
}
.principal-event-text h2{
    margin: 0.5rem;
}
.principal-event-text h3{
    margin: 0.7rem;
    margin-bottom: 2rem;
}
.principal-event-text a{
    text-decoration: none;
    background: #922f82;
    color: #ffffff;
    font-weight: bold;
    padding: 0.7rem;
    margin: 0.3rem;
    border-radius: 1rem;
    transition: background-color 0.4s;
}
.principal-event-text a + a{
    background: #40882e;
}
.principal-event-text a:hover{
    background: #ce40b6;
}
.principal-event-text a + a:hover{
    background: #40ce53;
}
.principal-event-text p{
    font-style: italic;
    font-size: 1.2rem;
    margin: 0.7rem;
}
.principal-event-text p ~ p{
    font-size: 1rem;
    margin-top: 2.3rem;
}
.principal-event-text ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}
.principal-event-text ul li{
    padding: 0.5rem;
    margin: 0.2rem;
    font-style: oblique;
    background-color: #21627c;
    border-radius: 1rem;
    transition: background-color 0.5s;
}
.principal-event-text ul li:hover{
    background-color: #2ea3dc;
}
.principal-event-image {
    max-width: 30%;
    height: auto;
}

.principal-event-image img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

/* Apartat últims llançaments */ 
.lastest-releases{
    background: linear-gradient(0deg,#a31d86 0%, #000000 100%);
    padding: 2rem;
    height: 100vh;
}
.lastest-releases h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 2rem;
}
.lastest-releases-articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    vertical-align: center;
    padding: 1rem;
}
.lastest-releases-articles article{
    background-color: #161616;
    border-radius: 1rem;
    min-width: 10vh;
    width: 15%;
    max-height: 45vh;
    padding: 1rem;
    margin: 1rem;
    color: white;
    text-align: justify;
    text-decoration: none;
}
.lastest-releases-eacharticles{
    transition: all 1s;
}
.lastest-releases-eacharticles:hover{
    transform: translateY(-5px);
    box-shadow: #161616 0rem 0rem 2rem;
}
.lastest-releases-eacharticles img{
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}
.lastest-releases-eacharticles p{
    font-size: 0.8rem;
    font-style: italic;
    margin-bottom: 0.6rem;
}
.lastest-releases-eacharticles a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 0.3rem;
    border-radius: 0.5rem;
    border: 1px solid white;
    transition: all 0.5s;
}
.lastest-releases-eacharticles a:hover{
    transform: translateY(-5px);
    box-shadow: #ffffff 0px 0px 0.5rem;
}

/* Artistes destacats */
.featured-artists{
    background: linear-gradient(0deg,#910505 0%, #000000 100%);
    padding: 2rem;
    height: 70vh;
}
.featured-artists h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 2rem;
}
.featured-artists-articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 60vh;
}
.featured-artists-eacharticles{
    transition: all 1s;
    background-color: #161616;
    display: flex;
    flex: wrap;
    border-radius: 1rem;
    width: 20%;
    height: 8rem;
    padding: 1rem;
    margin: 1rem;
    color: white;
    text-align: justify;
}
.featured-artists-eacharticles:hover{
    transform: translateY(-5px);
    box-shadow: #161616 0rem 0rem 2rem;
}
.featured-artists-eacharticles img{
    width: auto;
    height: 100%;
    border-radius: 0.5rem;
    margin-right: 0.8rem;
}
.featured-artists-eacharticles p{
    font-size: 0.8rem;
    font-style: italic;
    margin-bottom: 0.6rem;
}
.featured-artists-eacharticles p ~ p{
    font-size: 1.3rem;
    font-style: normal;
    margin-bottom: 0.6rem;
}
.artist-info{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
}

/** Secció (main - aside) **/
.section-main-aside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(0deg,#9b5504 0%, #000000 100%);
    width: 100%;
    height: 100vh;
    padding: 2rem;
    gap: 2rem;
}

/**  Secció de main **/
main {
    width: 70%;
}
main h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 2rem;
}
.main-articles {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 2rem;
    margin-top: 4rem;
    width: 100%;
    height: auto;
    justify-content: space-around;
}
.main-eacharticle {
    background-color: #161616;
    border-radius: 1rem;
    min-width: 10vh;
    width: 25%;
    padding: 1rem;
    color: white;
    transition: all 2s;
    overflow: hidden;
}
.main-eacharticle:hover{
    transition: all 1s;
    transform: translateY(-5px);
    box-shadow: #707070 0rem 0rem 4rem;
}
.main-eacharticle span{
    font-weight: bold;
}
.main-eacharticle h3{
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.main-eacharticle p{
    font-size: 1.1rem;
    text-align: justify;
    margin-bottom: 0.5rem;
}
.main-eacharticle img {
    width: 100%;
    aspect-ratio: 20 / 17; 
    padding: 0.2rem;
    border-radius: 0.5rem;
    object-fit: cover;
    object-position: 50% 20%;
}
.main-articles ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 0.5rem;
    gap: 0.8rem;
}
.main-articles ul li{
    margin-top: 0.4;
    padding: 0.4rem;
    border: white 1px solid;
    border-radius: 1rem;
    transition: all 1s;
}
.main-articles ul li:hover{
    transform: translateY(-5px);
    transition: box-shadow 0.3s;
    box-shadow: #ffffff 0px 0px 0.4rem;
}

/** !Configuració de l'aside **/
aside {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    width:17%;
    gap: 3rem;
    color: white;
}
.aside-articles{
    background-color: #161616;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    transition: all 1s;
}
.aside-articles h3{
    font-weight: bold;
    margin: 0.5rem;
}
.aside-articles p{
    margin-bottom: 0.5rem;
    font-style: italic;
    color: #dfdfdf;
}
.aside-articles img{
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}
.aside-articles:hover{
    transform: translateY(-5px);
    box-shadow: #474747 0rem 0rem 2rem;
}
.aside-articles a{
    display: inline-block;
    text-decoration: none;
    color: #a7edff;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid #bdf2ff;
    background: linear-gradient(50deg,#45a0ac 0%, #3c6191 100%);
    transition: all 0.5s;
}
.aside-articles a:hover{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #acbbc0;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid #173138;
    background: linear-gradient(50deg,#0a393f 0%, #3c6191 100%);
    box-shadow: #0a393f 0px 0px 0.5rem;
}

/** Secció albums més escoltats **/
.most-listened-albums{
    background: linear-gradient(0deg,#4b134f 0%, #000000 100%);
    padding: 2rem;
    height: 40vh;
}
.most-listened-albums h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 2rem;
}
.list-centrer{
    display: flex;
    justify-content: center;
}
.most-listened-albums-list {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 6rem;
    color: white;
    font-size: 1.2rem;
    column-count: 2;
    column-gap: 20rem;
    line-height: 3rem;
}

/* Footer */
footer{
    background: linear-gradient(0deg,#02001d 0%, #000000 100%);
    padding: 1rem;
    color: white;
}
footer p {
    margin-top: 1rem;

}
.footerInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.footerInfo ul li{
    display: inline-block;
}
.footerInfo ul li a{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
    text-decoration: none;
}
.footerInfo p{
    font-size: 0.8rem;
    color: gray;
}

/** Festivals page **/
.festival-page {
    background: linear-gradient(48deg,#ff2ba6 10%, #20e3ff 35%, #b6ff3b 100%);
}
.pag-festivals {
    width: 100%;
    height: auto;
}
.pag-festivals h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(65, 65, 65);
    font-size: 2rem;
    padding-top: 1rem;
    padding-left: 3rem;
}
.festivals-titleSearch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.pag-festivals input[type="search"] {
    position: relative;
    margin-top: 1rem;
    padding: 1rem;
    width: 20rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.2);
    justify-content: right;
    right: 5rem;
}
.festival-main-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
}
.festivals-main-eacharticle {
    background-color: #161616;
    border-radius: 1rem;
    width: 22rem;
    height: auto;
    color: white;
    transition: all 0.4s ease;
    box-shadow: 5px 5px 15px #000000;
    overflow: hidden;
    padding-bottom: 1rem;
    text-decoration: none;
}
.festivals-main-eacharticle:hover {
    border: #ffffff 1px solid;
    transform: translateY(-5px);
    box-shadow: 0 0 3rem #000000;
}
.festivals-main-eacharticle img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 0.5rem;
    object-fit: cover;
    object-position: center;
}
.festivals-main-eacharticle h3 {
    font-size: 1.3rem;
    margin: 1rem;
}
.festivals-main-eacharticle p {
    margin: 0.4rem 1rem;
    line-height: 1.3rem;
}
.festivals-main-eacharticle ul {
    margin: 1rem;
    padding-left: 1.2rem;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}
.festivals-main-eacharticle ul li {
    background: #292929;
    padding: 0.3rem 0.7rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    box-shadow: inset 0 0 0.5rem #000;
}
