/* Configuració página sencera */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
*::-webkit-scrollbar {
  scrollbar-width: thin;
}
body{
    background-color: #161616;
}

/* Configuració header */
header{
    position: sticky;
    top: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #0a0a0a;
    padding: 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
header nav ul li{
    padding: 0.6rem;
    margin-left: 0.5rem;
    display: inline-block;
    list-style-type: none;
    border-radius: 0.4rem;
    transition: background-color 0.3s;
    transition: box-shadow 0.3s;
}
header nav ul li a{
    text-decoration: none;
    color: white;
}
header nav ul li:hover{
    box-shadow: #234297 0px 0px 0.3rem;
    background-color: #234297;
}
header nav ul li + li:hover{
    box-shadow: #842397 0px 0px 0.3rem;
    background-color: #842397;
}
header nav ul li + li + li:hover{
    box-shadow: #974823 0px 0px 0.3rem;
    background-color: #974823;
}
header nav ul li + li + li + li:hover{
    box-shadow: #23974a 0px 0px 0.3rem;
    border:#23974a 1px solid;
    background-color: #23974a;
}
header nav ul li + li + li + li{
    border: white 1px solid;
}
h1 a{
    color: #ffffff;
    text-align: left;
    text-decoration: none;
    margin-left: 0.4rem;
}
h1 a span{
    background: linear-gradient(90deg,rgba(255, 43, 166, 1) 10%, rgba(32, 227, 255, 1) 35%, rgba(182, 255, 59, 1) 100%);
    color: transparent;
    background-clip: text;
}

/* Event principal */
.principal-event{
    background: linear-gradient(0deg,rgb(85, 117, 119) 0%, rgba(0, 0, 0, 1) 100%);
    display: flex;
    padding: 2rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 94vh;
}

.principal-event h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 3rem;
}
.principal-event h2 span{
    background: linear-gradient(90deg,rgba(255, 43, 166, 1) 10%, rgba(32, 227, 255, 1) 35%, rgba(182, 255, 59, 1) 100%);
    color: transparent;
    background-clip: text;
}
.principal-event-text{
    text-align: center;
    color: white;
    padding: 3rem;
    margin: 1rem;
}
.principal-event-text h2{
    margin: 0.5rem;
}
.principal-event-text h3{
    margin: 0.7rem;
    margin-bottom: 2rem;
}
.principal-event-text a{
    text-decoration: none;
    background: #922f82;
    color: #ffffff;
    font-weight: bold;
    padding: 0.7rem;
    margin: 0.3rem;
    border-radius: 1rem;
    transition: background-color 0.4s;
}
.principal-event-text a + a{
    background: #40882e;
}
.principal-event-text a:hover{
    background: #ce40b6;
}
.principal-event-text a + a:hover{
    background: #40ce53;
}
.principal-event-text p{
    font-style: italic;
    font-size: 1.2rem;
    margin: 0.7rem;
}
.principal-event-text p ~ p{
    font-size: 1rem;
    margin-top: 2.3rem;
}
.principal-event-text ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}
.principal-event-text ul li{
    padding: 0.5rem;
    margin: 0.2rem;
    font-style: oblique;
    background-color: #21627c;
    border-radius: 1rem;
    transition: background-color 0.5s;
}
.principal-event-text ul li:hover{
    background-color: #2ea3dc;
}
.principal-event-image {
    max-width: 30%;
    height: auto;
}

.principal-event-image img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

/* Apartat últims llançaments */ 
.lastest-releases{
    background: linear-gradient(0deg,rgb(163, 29, 134) 0%, rgba(0, 0, 0, 1) 100%);
    padding: 2rem;
    height: 100vh;
}
.lastest-releases h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 2rem;
}
.lastest-releases-articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    vertical-align: center;
    padding: 1rem;
}
.lastest-releases-articles article{
    background-color: #161616;
    border-radius: 1rem;
    min-width: 10vh;
    width: 15%;
    max-height: 45vh;
    padding: 1rem;
    margin: 1rem;
    color: white;
    text-align: justify;
    text-decoration: none;
}
.lastest-releases-eacharticles{
    transition: box-shadow 1s;
}
.lastest-releases-eacharticles:hover{
    box-shadow: #161616 0rem 0rem 2rem;
}
.lastest-releases-eacharticles img{
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}
.lastest-releases-eacharticles p{
    font-size: 0.8rem;
    font-style: italic;
    margin-bottom: 0.6rem;
}
.lastest-releases-eacharticles a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 0.3rem;
    border-radius: 0.5rem;
    border: 1px solid white;
    transition: box-shadow 0.5s;
}
.lastest-releases-eacharticles a:hover{
    box-shadow: #ffffff 0px 0px 0.5rem;
}

/* Artistes destacats */
.featured-artists{
    background: linear-gradient(0deg,rgb(145, 5, 5) 0%, rgba(0, 0, 0, 1) 100%);
    padding: 2rem;
    height: 70vh;
}
.featured-artists h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 2rem;
}
.featured-artists-articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 60vh;
}
.featured-artists-eacharticles{
    transition: box-shadow 1s;
    background-color: #161616;
    display: flex;
    flex: wrap;
    border-radius: 1rem;
    width: 20%;
    height: 8rem;
    padding: 1rem;
    margin: 1rem;
    color: white;
    text-align: justify;
}
.featured-artists-eacharticles:hover{
    box-shadow: #161616 0rem 0rem 2rem;
}
.featured-artists-eacharticles img{
    width: auto;
    height: 100%;
    border-radius: 0.5rem;
    margin-right: 0.8rem;
}
.featured-artists-eacharticles p{
    font-size: 0.8rem;
    font-style: italic;
    margin-bottom: 0.6rem;
}
.featured-artists-eacharticles p ~ p{
    font-size: 1.3rem;
    font-style: normal;
    margin-bottom: 0.6rem;
}
.artist-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}